<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <img src="assets/img/logo-dataventure.png" alt="Logo" width="200" height="100">
            </div>    
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <button class="button is-danger" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</nav>